# Firebase credentials
backend/serviceAccountKey.json
serviceAccountKey.json

# Node modules
node_modules/
.env
build/
dist/

# Python virtual environment
venv/
__pycache__/
*.pyc

# System files
.DS_Store
Thumbs.db
